## Additional

参考 blog: [datetime 模块详解](https://blog.csdn.net/cmzsteven/article/details/64906245)

date类和tim类等类似的一些方法：

- **.\_\_getattribute\_\_(\_name)** &emsp; 获得属性
- *x.\_\_eq\_\_(y): (replace eq) ne, lt, gt, le, ge* &emsp; 比较大小

In [7]:
import datetime

t = datetime.time(1,2,3)
print( t.__getattribute__('hour') )

a = datetime.date(2017,3,1)
b = datetime.date(2017,3,15)
print( a.__gt__(b) )

1
False

date类 ---- ISO标准化日期
- *isocalendat( ), isoformat( )*
- *isoweekday( ), weekday( )* &emsp; 返回指定日期的星期数，前者 周一到周日->1-7，后者0-6

In [15]:
a = datetime.date(1919,8,10)
b = datetime.date(1145,1,4)
print( a.isocalendar() )
print( a.isoformat() )
print( b.isoweekday() )
print( b.weekday() )

(1919, 32, 7)
1919-08-10
4
3

# 4.2 datetime: Date and Time Value Manipulation

***datetime*** 模块包含了一些函数和类，用于完成日期和时间的解析、格式化和算术运算

***classes:***

- ***.date*** &emsp;&emsp; 理想化的简单性日期，属性：*year, month, day*
- ***.time*** &emsp;&emsp; 独立于特定日期的理想化的时间， 属性：*hour, minute, second, microsecond, tzinfo*
- ***.datetime*** &ensp; date&time的结合
- *.timedelta* &ensp; 表示两个date/time对象，或datetime对象之间的时间间隔，精确到微秒
- *.tzinfo* &emsp;&emsp; 秒数时区信息对象带抽象基类
- *.timezone* &ensp; 实现了tzinfo抽象基类的子类

## 4.2.1 Times （.time类）

` time([hour[, minute[, second[, microsecond[, tzinfo]]]]]) `<br> 
使用 *.__getattribute__(...)* 方法获得相关属性

*.min, .max, .resolution* 可以获得合法时间的最小最大值以及分辨率<br>
time类分辨率为1微秒：ERROR: integer argument expected, got float

In [6]:
# CODE LIST 4-11
import datetime

t = datetime.time(1, 2, 3)
print(t)
print('hour       :', t.hour)
print('minute     :', t.minute)
print('second     :', t.second)
print('microsecond:', t.microsecond)
print('tzinfo     :', t.tzinfo)

01:02:03
hour       : 1
minute     : 2
second     : 3
microsecond: 0
tzinfo     : None

1

In [2]:
# CODE LIST 4-12
import datetime

print('Earliest  :', datetime.time.min)
print('Latest    :', datetime.time.max)
print('Resolution:', datetime.time.resolution)

Earliest  : 00:00:00
Latest    : 23:59:59.999999
Resolution: 0:00:00.000001

In [1]:
# CODE LIST 4-13
import datetime

for m in [1, 0, 0.1, 0.6]:
    try:
        print('{:02.1f} :'.format(m),
              datetime.time(0, 0, 0, microsecond=m))
    except TypeError as err:
        print('ERROR:', err)

1.0 : 00:00:00.000001
0.0 : 00:00:00
ERROR: integer argument expected, got float
ERROR: integer argument expected, got float

## 4.2.2 Dates （.date类）

- ***.today( )*** &emsp;获得当前日期 <class 'datetime.date'>

*built-in methods:*
- *.ctime( )* &emsp;&emsp;&emsp; Return ctime() style string
- ***.timetuple( )*** &emsp; struct_time 类型，详细成员见例，日期之外的为0
- ***.fromtimestamp( )*** &emsp; 将纪元秒数（时间戳 timestamp）转换为 <class 'datetime.date'>
- 
- ***.toordinal( )*** &emsp; 返回公元公历开始到现在的天数。公元1年1月1日为1
- ***.fromordinal( )*** 逆操作

In [12]:
# CODE LIST 4-14
import datetime

today = datetime.date.today()
print(today,type(today))
print('ctime  :', today.ctime())
tt = today.timetuple()
print('tuple  : tm_year  =', tt.tm_year)
print('         tm_mon   =', tt.tm_mon)
print('         tm_mday  =', tt.tm_mday)
print('         tm_hour  =', tt.tm_hour)
print('         tm_min   =', tt.tm_min)
print('         tm_sec   =', tt.tm_sec)
print('         tm_wday  =', tt.tm_wday)
print('         tm_yday  =', tt.tm_yday)
print('         tm_isdst =', tt.tm_isdst)
print('ordinal:', today.toordinal())
print('Year   :', today.year)
print('Mon    :', today.month)
print('Day    :', today.day)

2022-04-27 <class 'datetime.date'>
ctime  : Wed Apr 27 00:00:00 2022
tuple  : tm_year  = 2022
         tm_mon   = 4
         tm_mday  = 27
         tm_hour  = 0
         tm_min   = 0
         tm_sec   = 0
         tm_wday  = 2
         tm_yday  = 117
         tm_isdst = -1
ordinal: 738272
Year   : 2022
Mon    : 4
Day    : 27

In [10]:
# CODE LIST 4-15
import datetime
import time

o = 733114
print('o               :', o)
print('fromordinal(o)  :', datetime.date.fromordinal(o))

t = time.time()
print('t               :', t)
print('fromtimestamp(t):', datetime.date.fromtimestamp(t))

o               : 733114
fromordinal(o)  : 2008-03-13
t               : 1651062863.378676
fromtimestamp(t): 2022-04-27

类似time类的 min, max, resolution

- ***.replce( )*** 方法 &emsp; 从现有日期创建 **新的** date实例

In [13]:
# CODE LIST 4-16
import datetime

print('Earliest  :', datetime.date.min)
print('Latest    :', datetime.date.max)
print('Resolution:', datetime.date.resolution)

Earliest  : 0001-01-01
Latest    : 9999-12-31
Resolution: 1 day, 0:00:00

In [14]:
# CODE LIST 4-17
import datetime

d1 = datetime.date(2008, 3, 29)
print('d1:', d1.ctime())

d2 = d1.replace(year=2009)
print('d2:', d2.ctime())

d1: Sat Mar 29 00:00:00 2008
d2: Sun Mar 29 00:00:00 2009

## 4.2.3 timedelta

通过对两个 datetime 对象算术运算，或结合利用 timedelta ，可以计算将来或过去的日期。

- *.total_seconds( )* &emsp; 将timedelta类转换为秒数 (float)

In [31]:
import datetime

today = datetime.datetime.today()
delta = datetime.timedelta(days=7)
mirai = today+delta
print('{}\n{}'.format(today, mirai))
print( delta.total_seconds() )

2022-04-27 21:13:00.013721
2022-05-04 21:13:00.013721
604800.0

In [22]:
# CODE LIST 4-18
import datetime

print('microseconds:', datetime.timedelta(microseconds=1))
print('milliseconds:', datetime.timedelta(milliseconds=1))
print('seconds     :', datetime.timedelta(seconds=1))
print('minutes     :', datetime.timedelta(minutes=1))
print('hours       :', datetime.timedelta(hours=1))
print('days        :', datetime.timedelta(days=1))
print('weeks       :', datetime.timedelta(weeks=1))

microseconds: 0:00:00.000001
milliseconds: 0:00:00.001000
seconds     : 0:00:01
minutes     : 0:01:00
hours       : 1:00:00
days        : 1 day, 0:00:00
weeks       : 7 days, 0:00:00

In [23]:
# CODE LIST 4-19
import datetime

for delta in [datetime.timedelta(microseconds=1),
              datetime.timedelta(milliseconds=1),
              datetime.timedelta(seconds=1),
              datetime.timedelta(minutes=1),
              datetime.timedelta(hours=1),
              datetime.timedelta(days=1),
              datetime.timedelta(weeks=1),
              ]:
    print('{:15} = {:8} seconds'.format(
        str(delta), delta.total_seconds())
    )

0:00:00.000001  =    1e-06 seconds
0:00:00.001000  =    0.001 seconds
0:00:01         =      1.0 seconds
0:01:00         =     60.0 seconds
1:00:00         =   3600.0 seconds
1 day, 0:00:00  =  86400.0 seconds
7 days, 0:00:00 = 604800.0 seconds

## 4.2.6 Combining Dates and Times （datetime类）

*built-in methods:*

- ***.now( )*** &emsp;&emsp;
- ***.uctnow( )*** &emsp;
- ***.today()*** &emsp;

In [37]:
# CODE LIST 4-23
import datetime

print('Now    :', datetime.datetime.now())
print('Today  :', datetime.datetime.today())
print('UTC Now:', datetime.datetime.utcnow())
print()

FIELDS = [
    'year', 'month', 'day',
    'hour', 'minute', 'second',
    'microsecond',
]

d = datetime.datetime.now()
for attr in FIELDS:
    print('{:15}: {}'.format(attr, getattr(d, attr)))
    # getattr(obj, attr) 获得对象的特定属性

Now    : 2022-04-27 21:29:37.520237
Today  : 2022-04-27 21:29:37.520238
UTC Now: 2022-04-27 13:29:37.520237

year           : 2022
month          : 4
day            : 27
hour           : 21
minute         : 29
second         : 37
microsecond    : 520237

In [38]:
# CODE LIST 4-24
# combine
import datetime

t = datetime.time(1, 2, 3)
print('t :', t)

d = datetime.date.today()
print('d :', d)

dt = datetime.datetime.combine(d, t)
print('dt:', dt)

t : 01:02:03
d : 2022-04-27
dt: 2022-04-27 01:02:03

## 4.2.7 Formatting and Parsing

datetime 对象的默认字符串表示使用 ISO-8601 格式（YYYY-MM-DD HH:MM:SS.mmmmmm）

- ***.strftime(format)*** &emsp; datetime对象转换为str

- ***.strptime(date_string, format)*** &emsp; str对象转换为datetime

In [41]:
# CODE LIST 4-25
import datetime

format = "%a %b %d %H:%M:%S %Y"

today = datetime.datetime.today()
print('ISO     :', today)

s = today.strftime(format)
print('strftime:', s)

d = datetime.datetime.strptime(s, format)
print('strptime:', d.strftime(format))

ISO     : 2022-04-27 21:33:32.618244
strftime: Wed Apr 27 21:33:32 2022
strptime: Wed Apr 27 21:33:32 2022

***strptime/strftime format codes:***
![](./format_codes.png)

In [42]:
# CODE LIST 4-26
import datetime

today = datetime.datetime.today()
print('ISO     :', today)
print('format(): {:%a %b %d %H:%M:%S %Y}'.format(today))

ISO     : 2022-04-27 21:38:32.724001
format(): Wed Apr 27 21:38:32 2022

# Appendix

## 4.2.4 Date Arithmetic

标准算术操作符，支持同类直接运算 或 利用timedelta对象计算

timedelta 对象还支持整数、浮点数。

In [ ]:
# CODE LIST 4-20
import datetime

today = datetime.date.today()
print('Today    :', today)

one_day = datetime.timedelta(days=1)
print('One day  :', one_day)

yesterday = today - one_day
print('Yesterday:', yesterday)

tomorrow = today + one_day
print('Tomorrow :', tomorrow)

print()
print('tomorrow - yesterday:', tomorrow - yesterday)
print('yesterday - tomorrow:', yesterday - tomorrow)

Today    : 2022-04-27
One day  : 1 day, 0:00:00
Yesterday: 2022-04-26
Tomorrow : 2022-04-28

tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00

In [ ]:
# CODE LIST 4-21
import datetime

one_day = datetime.timedelta(days=1)
print('1 day    :', one_day)
print('5 days   :', one_day * 5)
print('1.5 days :', one_day * 1.5)
print('1/4 day  :', one_day / 4)

# assume an hour for lunch
work_day = datetime.timedelta(hours=7)
meeting_length = datetime.timedelta(hours=1)
print('meetings per day :', work_day / meeting_length)

1 day    : 1 day, 0:00:00
5 days   : 5 days, 0:00:00
1.5 days : 1 day, 12:00:00
1/4 day  : 6:00:00
meetings per day : 7.0

In [36]:
# Not Mentioned
import datetime

today = datetime.datetime.today()
print('Today    :', today)

yesterday = today - datetime.timedelta(days=1)
print('Yesterday:', yesterday)

tomorrow = today + datetime.timedelta(days=1)
print('Tomorrow :', tomorrow)

print('tomorrow - yesterday:', tomorrow - yesterday)
print('yesterday - tomorrow:', yesterday - tomorrow)

print('tomorrow > yesterday:', tomorrow > yesterday)

Today    : 2022-04-27 21:26:55.022133
Yesterday: 2022-04-26 21:26:55.022133
Tomorrow : 2022-04-28 21:26:55.022133
tomorrow - yesterday: 2 days, 0:00:00
yesterday - tomorrow: -2 days, 0:00:00
tomorrow > yesterday: True

## 4.2.5 Comparing Values

支持所有标准比较操作符

In [ ]:
# CODE LIST 4-22
import datetime
import time

print('Times:')
t1 = datetime.time(12, 55, 0)
print('  t1:', t1)
t2 = datetime.time(13, 5, 0)
print('  t2:', t2)
print('  t1 < t2:', t1 < t2)

print()
print('Dates:')
d1 = datetime.date.today()
print('  d1:', d1)
d2 = datetime.date.today() + datetime.timedelta(days=1)
print('  d2:', d2)
print('  d1 > d2:', d1 > d2)

Times:
  t1: 12:55:00
  t2: 13:05:00
  t1 < t2: True

Dates:
  d1: 2022-04-27
  d2: 2022-04-28
  d1 > d2: False

## 4.2.8 Time Zones

In [43]:
# CODE LIST 4-27
import datetime

min6 = datetime.timezone(datetime.timedelta(hours=-6))
plus6 = datetime.timezone(datetime.timedelta(hours=6))
d = datetime.datetime.now(min6)

print(min6, ':', d)
print(datetime.timezone.utc, ':',
      d.astimezone(datetime.timezone.utc))
print(plus6, ':', d.astimezone(plus6))

# convert to the current system timezone
d_system = d.astimezone()
print(d_system.tzinfo, '      :', d_system)

# UTC-06:00 : 2016-07-10 08:44:55.495995-06:00
# UTC+00:00 : 2016-07-10 14:44:55.495995+00:00
# UTC+06:00 : 2016-07-10 20:44:55.495995+06:00
# EDT : 2016-07-10 10:44:55.495995-04:00

UTC-06:00 : 2022-04-27 07:41:19.669825-06:00
UTC : 2022-04-27 13:41:19.669825+00:00
UTC+06:00 : 2022-04-27 19:41:19.669825+06:00
ÖÐ¹ú±ê×¼Ê±¼ä       : 2022-04-27 21:41:19.669825+08:00